Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing
vfi_api-config
vfi_frmwrk-config
src/Makefile.in
Makefile
config.h
*.log
config.status
configure.scan
.deps
src/Makefile
stamp-h1
config.guess
config.sub
libtool
ltmain.sh
.libs
*.pc
TAGS
*.stamp
*.bak
*.tar.gz
doc
*.la
*.lo
*.o